@CHARSET "UTF-8";

body {
	width: 900px;
	margin-left: 100px;
}
.login {
	-moz-box-shadow: 3px 4px 0px 0px #f29c93;
	-webkit-box-shadow: 3px 4px 0px 0px #f29c93;
	box-shadow: 3px 4px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	margin-left: 800px;
	display: inline;
		
}

.border {
	background-color: red;
}

#banner {
	margin-left: 220px;
	padding-top: 40px;
}

.register{
	margin-left: 810px;
	margin-top: -50px;
	font-size: 15px;
	font-family: arial;
	font-style: italic;
	color:red;
}

#not p {
	margin-top: -17px;
	margin-left: 690px;
	font-weight: bold;
}

